<div class="footer-bottom">
  <div class="container">
    <div class="copyright pull-left">
      © 2017, Created by Jozef Maloch
    </div>
    <div class="design pull-right">
      <div class="center-block">
        <a href="https://github.com/Joesepherus">
          <i id="social-gh" class="fa fa-github-square fa-3x social"></i>
        </a>
        <a href="https://www.facebook.com/JoesMaloch">
          <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
        </a>
        <a href="https://twitter.com/TQs_Joesepherus">
          <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
        </a>
        <a href="https://plus.google.com/u/1/+Joesepherus">
          <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
        </a>
        <a href="mailto:jozefmaloch@gmail.com">
          <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
        </a>
      </div>
    </div>
  </div>
</div>