img {
	width:100%;
}

/* navbar */
.navbar-default {
    background-color:   #048e16;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background-color: grey;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}

div.hamburger {
    width: 30px;
    height: 3px;
    background-color: black;
	margin: 6px 15px;
}

div.dropdown{
	
}

div.dropdown:click > .dropdown-menu {
    display: block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
	padding: 1px;
    border: none;
	cursor: pointer;
	margin-top: 7px;	
}


.dropbtn2 {

	padding: 1px;
    border: none;
	cursor: pointer;
    margin-top: 7px;	
    border: solid;
    border-color: black;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #e2e1df;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: solid;
    border-color: black;
    margin-top: 13px;
    margin-right: 10px;    
    padding: 5px 10px 0px 10px;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a:hover {
	background-color: #f1f1f1
}

.show {
	display:block;
}

li.hamburger {
	padding-right: 15px;
}



/* Include the padding and border in an element's total width and height */
/** {
    box-sizing: border-box;
}*/

/* Remove margins and padding from the list */
ul.default {
    margin: 0;
    padding-right: 0;
}

/* Style the list items */
ul li.default {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 50px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style: none; 
  /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
/*ul li:nth-child(odd).default {
    background-color: white ;
}*/

/* Darker background-color on hover */
ul li:hover.default {
    opacity: 0.70;
    border-color: black;
}

/* When clicked on, add a background color and strike out text */
ul li.completed {
    background-color: white;
    color: black;
    text-decoration: line-through;
}

ul li.removed {
    background-color: #696a69;
    color: black;
}

ul li.work {
    background-color: blueviolet;
    color: black;
}

ul li.personal {
    background-color: orange;
    color: black;
}

div.work-content {
    background-color: #915aff;    
}

div.personal-content {
    background-color: #eca230;
}

div.removed-content {
    background-color: #a1a1a1;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 18px 16px;
}

/* Style the close button */
.check {
    position: absolute;
    left: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: red;
    color: white;
}

.check:hover {
    background-color: #1b55fb ;
    color: white;
}

/* Style the header */
.header {
    background-color: green;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    color: black;
}

/* Style the "Add" button */
.addBtn {
    
    margin-top: 20px;
    margin-bottom: 5px;
    
}

.w3-card-4,.w3-hover-shadow:hover {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.w3-green,.w3-hover-green:hover {
    color:#fff!important;background-color:#4CAF50!important
}

.w3-container{
    padding:0.01em 16px;
}

.w3-input {
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
}

.dropPara {
    border-bottom:1px solid black;
    text-decoration: none;            
}

.selector {
    margin-top: 13px;
    margin-left: 9px;
}

select {
    border: 1px solid #111;
    background: transparent;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    background: url(img/down-arrow-circle-hi.png) 96% / 15% no-repeat #eee;
	cursor: pointer;
  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* CAUTION: IE hackery ahead */
select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    } 
}


button.deleteBtn, button.editBtn {
    margin-bottom: 10px;
}

.calendar {
    width: 800px;
    height: 370px;
}

.event {
    color: blue;
    border: 2px solid blue;
}
.ui-datepicker {
    width: 800px; /*what ever width you want*/
    height: 370px;
}
div.ui-datepicker
{
    font-size: 25px;
}