
<!-- Header -->
<header class="masthead">
    <div class="container">
        <img class="img-fluid hvr-bounce-in TheQAbout" src="/css/img/TheQ-2-transparent.png" alt="">
        <div class="intro-text">
            <span class="name aboutHeader">The Questioners</span>
            <hr>
            <p class="skills">Is a simple WEB application used for storing/creating/editing and deleting tasks and many more.</p>
            <p class="skills">Built on a RESTful API server using Express, MongoDB and AngularJS.</p>
            <p class="skills">It contains two main sections: To-do list and QaA(Questions and Answers).</p>
            <p class="skills">Actively in development is a new section called Blog.</p>            
        </div>
    </div>
</header>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <h2 class="text-center aboutHeader2">About </h2>
        <hr>
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <h3 class="aboutParagraphs">To-do list</h3>
                <p>Contains adding, checking, removing and permanently 
                    deleting tasks. Each task has a title, description and
                    type with it's own defined color. Currently there 
                    are available only 3 types: <b>work, personal and school
                    </b>. Checking means completing tasks, which visualy
                    adds a line through text of the task. It is also 
                    possible to edit tasks. Tasks have 3 states: inprogress,
                    completed and removed. It is possible to filter tasks
                    by their type or state. Furthermore tasks have dates
                    of their creation and completion. Deleting task permanently
                    means deleting it off the database to never be retrieved 
                    again.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <h3 class="aboutParagraphs">QaA</h3>                
                <p></p>
            </div>
            <div class="col-lg-4 mr-auto">
                <h3 class="aboutParagraphs">Blog</h3>                
                <p></p>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <h2 class="text-center aboutHeader2">Technologies used</h2>
        <hr>
        <div class="row">
            <div class="col-lg-8 ml-auto pull-right">
                <p></p>
            </div>
            
        </div>
    </div>
</section>


<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <h2 class="text-center aboutHeader2">Meet the author</h2>
        <hr>
        <div class="row">
            <div class="col-lg-8 ml-auto pull-right">
                <h3>Jozef Maloch</h3>
                <p></p>
            </div>
            
        </div>
    </div>
</section>
