<div class="col-md-12" ng-init="getAllTasks()">    
    <div class="w3-card-4">
        <div class="w3-container w3-green">
            <h2>New task</h2>
        </div>

        <form id="newTaskForm" class="w3-container" method="post" ng-submit="addTask()">
            <p>
                <input class="w3-input" id="inputTitle" type="text" ng-model="task.title">
                <label>Title</label>
            
            </p>
            <p>     
                
                <input class="w3-input" id="inputDescription" type="text" ng-model="task.description">
                <label>Description</label>
            
            </p>
            <p>     
                <input class="w3-input" id="inputType" type="text" ng-model="task.type">
                <label>Type</label>                
            
            </p>    
                    
        </form>
            <button class="col-md-2 addBtn btn btn-success" form="newTaskForm" type="submit" onclick="newElement()">Submit</button>

    </div>

</div>

    <div  class="col-md-10">
        <h2>Tasks</h2>
    </div>
    <div class="col-md-1 selector">
        <select >
            <option value="all" on-click="">all</option>
            <option value="completed" on-click="completedFunc()">completed</option>
            <option value="inprogress" selected="selected">inprogress</option>
            <option value="removed">removed</option>
        </select>
    </div>

<ul class="col-md-12" id="myUL">
    
<div ng-repeat="task in allTasks">
    <li onclick="dropFunction(this)" class="default dropbtn2">{{task.title}}
        <div class="dropdown-content" id="drop">
            <p class="dropPara">{{task.description}}</p>
            <p class="dropPara">{{task.type}}</p>
            <p class="dropPara" id="state">{{task.state}}</p>                
            <p class="dropPara">{{task.create_date}}</p>  
            <p class="dropPara">{{task._id}}</p>   
            <a href="" ng-click="deletePermanentlyTask(task._id, task)">delete permanently</a>   
        </div>
    </li>
</div>

</ul>


<script>
$("select").change(function() {
    var li = document.getElementsByTagName("LI");
    var i;
    for (i = 6; i < li.length; i++) {
        if (this.value == "completed"){
            if (li[i].children[0].children[2].innerHTML == "completed") {
                li[i].style.display = "block";
            }
            else {
                li[i].style.display = "none";
            }
        }
        else if (this.value == "inprogress") {
            if (li[i].children[0].children[2].innerHTML == "inprogress") {
                li[i].style.display = "block";
            }
            else {
                li[i].style.display = "none";
            }
        }
        else if (this.value == "removed") {
            if (li[i].children[0].children[2].innerHTML == "removed") {
                li[i].style.display = "block";
            }
            else {
                li[i].style.display = "none";
            }
        }
        else {
            li[i].style.display = "block";
        }
    }
});

function dropFunction(element) {
    element.children[0].classList.toggle("show");
}


// Create a "close" button and append it to each list item
var myNodelist = document.getElementsByTagName("LI");
var i;
for (i = 6; i < myNodelist.length; i++) {
    var span = document.createElement("SPAN");
    var txt = document.createTextNode("\u00D7");
    span.className = "close";
    span.setAttribute('onclick', 'removeTask(this)');
    span.setAttribute('ng-click', 'removeTask(task._id, task)');    
    span.appendChild(txt);
    myNodelist[i].appendChild(span);
    
    var span1 = document.createElement("SPAN");
    var txt1 = document.createTextNode("\u2713");
    span1.className = "check";
    span1.setAttribute('onclick', 'checkTask()');    
    span1.setAttribute('ng-click', 'completeTask(task._id, task)');
    
    span1.appendChild(txt1);
    myNodelist[i].appendChild(span1);
}

// Click on a close button to hide the current list item
function removeTask(element) {
    var div = element.parentElement;
    div.style.display = "none";
   
}

function checkTask() {
    var check = document.getElementsByClassName("check");
    var i;
    for (i = 0; i < check.length; i++) {
        check[i].onclick = function() {
            
            var div = this.parentElement;
            div.classList.toggle('completed');
            task.state="completed";
        }
    }
}

// Add a "checked" symbol when clicking on a list item
/*var list = document.getElementById('myUL');
list.addEventListener('click', function(ev) {
    if (ev.target.tagName === 'LI') {
        ev.target.classList.toggle('completed');
    }
}, false);*/

// Create a new list item when clicking on the "Add" button
function newElement() {
    var li = document.createElement("li");
    li.className = "default dropbtn2";
    li.setAttribute('onclick', 'dropFunction(this)');    
    
    var inputValue = document.getElementById("inputTitle").value;
    var title = document.createTextNode(inputValue);
    li.appendChild(title);

    if (inputValue === '') {
        alert("You must write something!");
    } else {
        document.getElementById("myUL").appendChild(li);
    }
    document.getElementById("inputTitle").value = "";

    var div = document.createElement("div");
    div.className = "dropdown-content hide";
    li.appendChild(div);

    var inputValue = document.getElementById("inputDescription").value;
    var description = document.createElement("p");
    description.innerHTML = inputValue;
    div.appendChild(description);

    var inputValue = document.getElementById("inputType").value;
    var type = document.createElement("p");
    type.innerHTML = inputValue;
    div.appendChild(type);

    var type = document.createElement("p");
    type.innerHTML = "inprogress";
    div.appendChild(type);

    var span = document.createElement("SPAN");
    var txt = document.createTextNode("\u00D7");
    span.className = "close";
    span.appendChild(txt);
    span.setAttribute('onclick', 'removeTask(this)');    
    li.appendChild(span);

    var span1 = document.createElement("SPAN");
    var txt1 = document.createTextNode("\u2713");
    span1.className = "check";
    span1.appendChild(txt1);
    span1.setAttribute('onclick', 'checkTask()');        
    li.appendChild(span1);

    

    for (i = 0; i < close.length; i++) {
        close[i].onclick = function() {
            var div = this.parentElement;
            div.style.display = "none";
        }
    }
    var check = document.getElementsByClassName("check");
    
    for (i = 0; i < check.length; i++) {
        check[i].onclick = function() {          
            var div = this.parentElement;
            div.classList.toggle('completed');
        }
    }
    
}

</script>