
<div id="myDIV" class="header" ng-init="getAllTasks()">
    <h2 style="margin:5px">My To Do List</h2>
    <input type="text" id="myInput" placeholder="Title...">
    <span onclick="newElement()" class="addBtn">Add</span>
</div>

<ul id="myUL">
<div ng-repeat="task in allTasks">
    <li onclick="dropFunction(this)" class="default dropbtn2">{{task.title}}
    <div class="dropdown-content" id="drop">
        <p>{{task.description}}</p>
        <p>{{task.type}}</p>
        <p>{{task.create_date}}</p>        
    </div>
    </li>
</div>

</ul>

<script>

function dropFunction(element) {
    element.children[0].classList.toggle("show");
}


// Create a "close" button and append it to each list item
var myNodelist = document.getElementsByTagName("LI");
var i;
for (i = 6; i < myNodelist.length; i++) {
    console.log(myNodelist);
    var span = document.createElement("SPAN");
    var txt = document.createTextNode("\u00D7");
    span.className = "close";
    span.setAttribute('onclick', 'removeTask()');
    span.appendChild(txt);
    myNodelist[i].appendChild(span);
    
    var span1 = document.createElement("SPAN");
    var txt1 = document.createTextNode("\u2713");
    span1.className = "check";
    span1.setAttribute('onclick', 'checkTask()');    
    span1.appendChild(txt1);
    myNodelist[i].appendChild(span1);
}

// Click on a close button to hide the current list item
function removeTask() {
    var close = document.getElementsByClassName("close");
    var i;
    console.log(close);
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function() {
            var div = this.parentElement;
            div.style.display = "none";
        }
    }
}

function checkTask() {
    var check = document.getElementsByClassName("check");
    var i;
    for (i = 0; i < check.length; i++) {
        check[i].onclick = function() {
            console.log(div);
            
            var div = this.parentElement;
            div.classList.toggle('completed');
        }
    }
}

// Add a "checked" symbol when clicking on a list item
/*var list = document.getElementById('myUL');
list.addEventListener('click', function(ev) {
    if (ev.target.tagName === 'LI') {
        ev.target.classList.toggle('completed');
    }
}, false);*/

// Create a new list item when clicking on the "Add" button
function newElement() {
    var li = document.createElement("li");
    li.className = "default dropbtn2";
    var inputValue = document.getElementById("myInput").value;
    var t = document.createTextNode(inputValue);
    li.appendChild(t);
    if (inputValue === '') {
        alert("You must write something!");
    } else {
        document.getElementById("myUL").appendChild(li);
    }
    document.getElementById("myInput").value = "";

    var span = document.createElement("SPAN");
    var txt = document.createTextNode("\u00D7");
    span.className = "close";
    span.appendChild(txt);
    li.appendChild(span);

    var span1 = document.createElement("SPAN");
    var txt1 = document.createTextNode("\u2713");
    span1.className = "check";
    span1.appendChild(txt1);
    li.appendChild(span1);

    

    for (i = 0; i < close.length; i++) {
        close[i].onclick = function() {
            var div = this.parentElement;
            div.style.display = "none";
        }
    }
    for (i = 0; i < check.length; i++) {
        check[i].onclick = function() {          
            var div = this.parentElement;
            div.classList.toggle('completed');
        }
    }
}

</script>