<title>To-do list</title>
<div class="container todolist">
    <div class="row"> 

<div class="col-md-12" ng-init="getAllTasks()">    
    <div class="w3-card-4">
        <div class="w3-container w3-green">
            <h2>New task</h2>
        </div>
        <form name="newTaskForm" id="newTaskForm" class="w3-container newTaskForm" method="post" ng-submit="addTask()">
            <p>
                <label class="newTaskType">Title:</label>  
                <input class="w3-input" name="newTaskTitle" id="inputTitle" type="text" ng-model="newTask.title" required>
            </p>
            <p>     
                <label class="newTaskType">Description:</label>
                <input class="w3-input" name="newTaskDescription" id="inputDescription" type="text" ng-model="newTask.description" required>
            </p>
            <div>
                <label class="newTaskType">Type:</label>        
            </div>
            <select ng-model="newTask.type" required>
                <option value=""></option>                
                <option value="work">work</option>
                <option value="watch later">watch later</option>                
                <option value="personal">personal</option>
                <option value="school">school</option>
            </select>
        </form>
            <button class="col-md-2 addBtn btn btn-success" form="newTaskForm" type="submit" onclick="newElement()">Submit</button>
    </div>

</div>

<div class="col-md-10">
    <h2>Tasks</h2>
</div>


<div class="col-md-1 selector">
    <select id="selector" ng-model="selectedScreenIndex" ng-options="view.select for view in views" ng-change="select()">
        <option value="">none</option>
   
    </select>
</div>

<div class="col-md-12">
    <p ng-model="numberOfQaA">Number of tasks: {{selectedItem.tasks.length}}</p>
</div>

<ul class="col-md-12" id="myUL">
    <div ng-repeat="task in selectedItem.tasks | startFrom:currentPage*pageSize | limitTo:pageSize" ng-class="isLast($last)">
        <li onclick="dropFunction(this)" class="default dropbtn2">
            <div>
                <img class="checkImg" src="css\img\check2.png">
                <img class="checkImg" src="css\img\disable.png">    
                <img class="checkImg" src="css\img\clock.png">                                            
                <span>{{task.title}}</span> 
            </div>
            <div class="dropdown-content" id="drop">
                <p class="label label-default">Posted {{task.create_date}}</p>                
                <p class="label label-default">{{task.type}}</p>
                <p class="label label-default">{{task.state}}</p>
                <p class="dropPara">{{task.description}}</p>
                <div class="modal-button">
                    <button type="button" class="btn btn-info btn-md detailsBtn" data-toggle="modal" data-target="#detailsModal" onclick="detailsModalForm(this)" ng-click="editModalForm(task._id)">Details</button>                
                    <button id="modalButton" type="button" class="btn btn-success btn-md editBtn" data-toggle="modal" data-target="#editModal" onclick="editModalForm(this)" ng-click="editModalForm(task._id)">Edit task</button>                    
                    <button type="button" class="btn btn-danger btn-md deleteBtn"  ng-click="deletePermanentlyTask(task._id, task)">Delete permanently</button>                
                </div>
            </div>
        </li>
    </div>
    
</ul>

<div class="container">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="editModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div id="editModalHeader" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Task</h4>
                </div>
                <div class="modal-body">
                <form ng-model="allTasks" id="editTaskForm" class="w3-container" method="post" ng-submit="editTask(allTasks[url])">
                    <p>
                        <label class="newTaskType">Title:</label>
                        <input id="test_input" class="w3-input" name="editTitle" type="text" ng-model="task.title" required>
                    </p>
                    <p>    
                        <label class="newTaskType">Description:</label>
                        <input class="w3-input" name="editDescription" ng-model="task.description" type="text" required>
                    </p>
                    <div>
                        <label class="newTaskType">Type</label>
                    </div>
                    <select name="editType" id="editSelect" ng-model="task.type" required>
                        <option value=""></option>                        
                        <option value="work">work</option>
                        <option value="personal">personal</option>
                        <option value="school">school</option>  
                        <option value="watch later">watch later</option>                      
                    </select>  
                </form>            
                </div>
                <div class="modal-footer">
                    <button class="col-md-2 editBtn btn btn-success" form="editTaskForm" type="submit" >Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="detailsModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div id="detailsModalHeader" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tasks details</h4>
                </div>
                <div id="detailsModalBody" class="modal-body detailsModal">
                    <p>
                        <label class="newTaskType">Title:</label>
                        <input id="test_input" class="w3-input" name="detailsTitle" type="text" ng-model="task.title" required>
                    </p>
                    <p>    
                        <label class="newTaskType">Description:</label>
                        <input class="w3-input" name="detailsDescription" ng-model="task.description" type="text" required>
                    </p>
                    <p>    
                        <label class="newTaskType">Type:</label>
                        <input class="w3-input" name="detailsType" ng-model="task.type" type="text" required>
                    </p>
                    <p>    
                        <label class="newTaskType">State:</label>
                        <input class="w3-input" name="detailsState" ng-model="task.state" type="text" required>
                    </p>
                    <p>    
                        <label class="newTaskType">Date added:</label>
                        <input class="w3-input" name="detailsDateAdded" ng-model="task.create_date" type="text" required>
                    </p>
                    <p>    
                        <label class="newTaskType">Date completed:</label>
                        <input class="w3-input" name="detailsDateCompleted" ng-model="task.completed_date" type="text" required>
                    </p>
                </div>
                <div id="detailsModalFooter" class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- for pagination WIP -->
<div class="col-md-12">
    <button class="btn btn-danger" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{selectedTasksLength}}
    <button class="btn btn-primary" ng-disabled="currentPage >= selectedTasksLength - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
</div>

</div>
</div>
<br>


<script>

$(document).ready(function () {
    $("#todolist").addClass('active');
    document.title = "To-do list";
});

// giving modal form placeholder values for each input txt
function editModalForm(elem) {
    var li = document.getElementsByTagName("LI");
    var i;
    document.getElementsByName("editTitle")[0].value = elem.parentElement.parentElement.parentElement.children[0].children[2].innerHTML;
    document.getElementsByName("editDescription")[0].value = elem.parentElement.parentElement.children[3].innerHTML;

    var select = document.getElementById("editSelect");
    switch (elem.parentElement.parentElement.children[1].innerHTML) {
        case "work":
            select.value = "work";
            break;
        case "personal":
            select.value = "personal";
            break;
        case "school":
            select.value = "school";
            break;
        case "watch later":
            select.value = "watch later";
            break;
    }

    // updating the angular task values
    $('[name="editTitle"]').trigger('input'); 
    $('[name="editDescription"]').trigger('input'); 
    $('[name="editType"]').trigger('change'); 

    // change the header color to the type of the task
    switch (elem.parentElement.parentElement.children[1].innerHTML) {
        case "work":
            $("#editModalHeader").css('background', 'blueviolet');
            break;
        case "personal":
            $("#editModalHeader").css('background', '#ffc900');
            break;
        case "school":
            $("#editModalHeader").css('background', '#048E16');
            break;
        case "watch later":
            $("#editModalHeader").css('background', '#900C3E');        
            break;
    }
}

// giving modal form placeholder values for each input txt
function detailsModalForm(elem) {
    var li = document.getElementsByTagName("LI");
    var i;
    document.getElementsByName("detailsTitle")[0].value = elem.parentElement.parentElement.parentElement.children[0].innerHTML;
    document.getElementsByName("detailsDescription")[0].value = elem.parentElement.parentElement.children[3].innerHTML;
    document.getElementsByName("detailsType")[0].value = elem.parentElement.parentElement.children[1].innerHTML;
    document.getElementsByName("detailsState")[0].value = elem.parentElement.parentElement.children[2].innerHTML;
    document.getElementsByName("detailsDateAdded")[0].value = elem.parentElement.parentElement.children[0].innerHTML;
    //document.getElementsByName("detailsDateCompleted")[0].value = elem.parentElement.parentElement.children[3].innerHTML;

    // updating the angular task values
    $('[name="detailsTitle"]').trigger('input'); 
    $('[name="detailsDescription"]').trigger('input'); 
    $('[name="detailsType"]').trigger('input'); 
    $('[name="detailsState"]').trigger('input'); 
    $('[name="detailsDateAdded"]').trigger('input'); 
    //$('[name="detailsDateCompleted"]').trigger('input'); 

    // change the header color to the type of the task
    switch (elem.parentElement.parentElement.children[1].innerHTML) {
        case "work":
            $("#detailsModalHeader").css('background', 'blueviolet');
            break;
        case "personal":
            $("#detailsModalHeader").css('background', '#ffc900');
            break;
        case "school":
            $("#detailsModalHeader").css('background', '#048E16');
            break;
        case "watch later":
            $("#detailsModalHeader").css('background', '#900C3E');        
            break;
    } 
}

// switching between selected values
/*$("#selector").change(function() {
    var li = document.getElementsByTagName("LI");
    var i;
    for (i = 6; i < li.length; i++) {
        if (this.value == "completed"){
            if (li[i].children[1].children[2].innerHTML == "completed") {
                li[i].style.display = "block";
            }
            else {
                li[i].style.display = "none";
            }
        }
        else if (this.value == "inprogress") {
            if (li[i].children[1].children[2].innerHTML == "inprogress") {
                li[i].style.display = "block";
            }
            else {
                li[i].style.display = "none";
            }
        }
        else if (this.value == "removed") {
            if (li[i].children[1].children[2].innerHTML == "removed") {
                li[i].style.display = "block";
            }
            else {
                li[i].style.display = "none";
            }
        }
        else if (this.value == "work") {
            if (li[i].children[1].children[1].innerHTML == "work") {
                li[i].style.display = "block";
            }
            else {
                li[i].style.display = "none";
            }
        }
        else if (this.value == "personal") {
            if (li[i].children[1].children[1].innerHTML == "personal") {
                li[i].style.display = "block";
            }
            else {
                li[i].style.display = "none";
            }
        }
        else if (this.value == "school") {
            if (li[i].children[1].children[1].innerHTML == "school") {
                li[i].style.display = "block";
            }
            else {
                li[i].style.display = "none";
            }
        }
        else if (this.value == "watch later") {
            if (li[i].children[1].children[1].innerHTML == "watch later") {
                li[i].style.display = "block";
            }
            else {
                li[i].style.display = "none";
            }
        }
        else {
            li[i].style.display = "block";
        }
    }
});*/

function dropFunction(element) {     
        element.children[1].classList.toggle("show");
}

// Create a "close" button and append it to each list item
var li = document.getElementsByTagName("LI");
var i;
for (i = 7; i < li.length; i++) {

    // the close task button
    var span = document.createElement("SPAN");
    var txt = document.createTextNode("\u00D7");
    span.className = "closeBtn";
    span.setAttribute('onclick', 'removeTask(this)');
    span.setAttribute('ng-click', 'removeTask(task._id, task)');    
    span.appendChild(txt);
    li[i].appendChild(span);
    
    // the check task button
    var span1 = document.createElement("SPAN");
    var txt1 = document.createTextNode("\u2713");
    span1.className = "check";
    span1.setAttribute('onclick', 'checkTask(this)');    
    span1.setAttribute('ng-click', 'completeTask(task._id, task)');
    span1.appendChild(txt1);
    li[i].appendChild(span1);

}

// Click on a close button to hide the current list item
function removeTask(element) {
    var li = element.parentElement;
    if (li.children[1].children[2].innerHTML != "removed") {
        li.children[1].children[2].innerHTML = "removed";
        li.children[0].children[1].style.display = "inline";  
        li.children[0].children[2].style.display = "none";   
        li.children[0].children[0].style.display = "none";                                                         
    }
    else {
        li.children[1].children[2].innerHTML = "inprogress";
        li.children[0].children[1].style.display = "none";      
        li.children[0].children[2].style.display = "inline";                                              
    }
}

function checkTask(element) {
    var li = element.parentElement;
    // li.classList.toggle('completed');
    if (li.children[1].children[2].innerHTML != "completed") {
        li.children[1].children[2].innerHTML = "completed";
        li.children[0].children[0].style.display = "inline";  
        li.children[0].children[1].style.display = "none";                  
        li.children[0].children[2].style.display = "none";          
    }
    else {
        li.children[1].children[2].innerHTML = "inprogress";  
        li.children[0].children[0].style.display = "none";    
        li.children[0].children[2].style.display = "inline";                                  
    }
}
</script>