<div class="container todolist">
  <div class="row">
    <button type="button" class="btn btn-info btn-md
      editBtn" (click)="changeView()">change view</button>
    <ul *ngIf="orderedList.length > 99 && view == 'category'" class="col-md-12" id="myUL">
      <div *ngFor="let list of orderedList">
        <div *ngIf="list.qaa.length > 0 || list.todo.length > 0  || list.words.length > 0">
          <li>
            <strong>{{list.date}}</strong>
          </li>
          <em>QaAs:</em>
          <div *ngIf="list.qaa">
            <li *ngFor="let qaa of list.qaa">
              {{qaa.title}}
            </li>
          </div>
          <em>Todos:</em>
          <div *ngIf="list.todo">
            <li *ngFor="let todo of list.todo">
              {{todo.title}}
            </li>
          </div>
          <em>Words:</em>
          <div *ngIf="list.words">
            <li *ngFor="let word of list.words">
              {{word.word}}
            </li>
          </div>
          <hr>
        </div>
      </div>
    </ul>
    <ul *ngIf="orderedList2.length > 364 && view == 'date'" class="col-md-12" id="myUL">
      <div *ngFor="let list of orderedList2; let i = index">
        <li (click)="log(list.date)">
          <strong>{{list.date}}</strong>
        </li>

        <li *ngFor="let item of list.items; let j = index">
          {{item.create_date}}: {{item.title}}
        </li>
        <div *ngIf="!list.blog">
          <a (click)="blogCreateShow($event)">create blog</a>
          <app-blog-create class="blogCreate" [blogAll]="blogAll" [list]="list"></app-blog-create>
        </div>
        <div *ngIf="list.blog">
          <p>Blog:</p>
          <p>{{list.blog.text}}</p>
        </div>
        <hr>
      </div>
    </ul>
  </div>
</div>